upstream nodejs1 {
    ip_hash; # Use consistent hashing to always redirect the same client to the same server based on client ip.
    server node_one:3000;
    server node_two:3000;
}

upstream nodejs2 {
    server node_three:3000;
    server node_four:3000;
}

server {
    listen 80;

    location /one {
        proxy_pass http://nodejs1;
    }

    location /two {
        proxy_pass http://nodejs2;
    }

    location /admin {
        return 403;
    }
}
